body {
  background-image: url(https://cdn.hipwallpaper.com/i/25/90/cjwLyN.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.container {
  background-color: aqua;
  margin: auto;
  text-align: center;
  width: fit-content;
  height: 850px;
}
table {
  margin: auto auto 75px auto;
}
.title {
  color: purple;
  font-size: 65px;
  padding-top: 20px;
  margin-bottom: 75px;
  padding-left: 50px;
  padding-right: 50px;
}
.timeLeft {
  margin-bottom: 75px;
}
h2 {
  margin-bottom: 35px;
}
td {
  padding-right: 15px;
}
